@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    justify-content: center;
    background-image: linear-gradient(148deg, #528bff, #ffffff)
}

body {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
    font-family: "Inter", sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    position: fixed;
    width: 100%;
}


.liquidGlass-wrapper {
    position: relative;
    display: flex;
    font-weight: 600;
    overflow: hidden;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    height: 40px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect {
    position: absolute;
    z-index: 0;
    inset: 0;

    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    overflow: hidden;
}

.liquidGlass-tint {
    z-index: 1;
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.50);
}

.liquidGlass-shine {
    position: absolute;
    inset: 0;
    z-index: 2;

    overflow: hidden;

    box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
        inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.liquidGlass-text {
    z-index: 3;
    font-size: 2rem;
    color: black;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 1.3rem;
    padding: 0.6rem;
}

.navigation,
.navigation>div {
    border-radius: 1.3rem;
}

.navigation:hover {
    padding: 0.8rem;
    border-radius: 1.3rem;
}

.navigation:hover>div {
    border-radius: 1.3rem;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-weight: 400;
    font-size: 20px;
}

.navigation li {
    cursor: pointer;
    transition: 0.2s;
}
.navigation li:hover {
    scale: 1.02
}
.content{
    display: flex;
    width: 100%;
    padding-top: 70px;
    justify-content: center;
    flex-direction: column;
}
.content h2{
    text-align: center;
    font-size: 50px;
    margin-top: 150px;
}
.card{
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(173, 216, 230, 0.6), 0px 0px 4px 0px rgba(255, 255, 255, 0.8);
    background-color: #ffffff6b;
    transition: 0.2s;
}
.card:hover{
    scale: 1.02;
}
.cards{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}